@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;

  --color-black: 35, 36, 38;
  --color-white: 250, 250, 250;
  --color-orange: 253, 143, 93;
  --color-orange-dark: 228, 128, 83;
  --color-orange-darker: 204, 114, 74;
  --color-purple: 202, 174, 241;
  --color-purple-dark: 204, 153, 255;
  --color-red: 246, 87, 81;

  --hover-overlay-color: rgba(0, 0, 0, 0.1);

  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body.light-mode {
  --icon-glow-color: rgba(var(--color-red), 0.1);
  --only-feel-color: rgba(var(--color-black), 0.05);
  --main-bg-color: rgb(var(--color-white));
  --main-text-color: rgb(var(--color-black));
  --button-bg-color: rgb(var(--color-orange));
  --button-hover-bg-color: rgb(var(--color-orange-dark));
  --hover-overlay-color: rgba(var(--color-orange-dark), 0.25);
  --border-color: rgb(var(--color-orange));
}

body.dark-mode {
  --icon-glow-color: rgba(var(--color-white), 0.1);
  --only-feel-color: rgba(var(--color-white), 0.05);
  --main-bg-color: rgb(var(--color-black));
  --main-text-color: rgb(var(--color-white));
  /* --button-bg-color: rgb(var(--color-purple)); */
  /* NOTE: keeping buttons always orange for now since some components colors are also always orange */
  --button-bg-color: rgb(var(--color-orange));
  --button-hover-bg-color: rgb(var(--color-purple-dark));
  --hover-overlay-color: rgb(var(--color-purple-dark), 0.25);
  --border-color: rgb(var(--color-orange));
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: var(--font-inter);
  cursor: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes glowPulse {
    0% {
      box-shadow: 0 0 5px var(--icon-glow-color),
        0 0 10px var(--icon-glow-color), 0 0 15px var(--icon-glow-color),
        0 0 20px var(--icon-glow-color);
    }
    100% {
      box-shadow: 0 0 10px var(--icon-glow-color),
        0 0 20px var(--icon-glow-color), 0 0 30px var(--icon-glow-color),
        0 0 40px var(--icon-glow-color);
    }
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1.5);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes outerRotate {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: -420.48;
    }
  }

  @keyframes innerRotate {
    from {
      stroke-dashoffset: 0;
    }
    to {
      stroke-dashoffset: 364.6;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 1s forwards;
    animation-fill-mode: both;
  }

  .glow-effect {
    box-shadow: 0 0 5px var(--icon-glow-color), 0 0 10px var(--icon-glow-color),
      0 0 15px var(--icon-glow-color), 0 0 20px var(--icon-glow-color);
    animation: glowPulse 2s infinite alternate;
  }
}

.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: rgb(var(--color-red));
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease;
  box-shadow: 0 0 10px rgba(var(--color-red), 0.8);
}

.cursor.click {
  transform: scale(1.5);
}

.cursor-trail {
  position: fixed;
  width: 4px;
  height: 4px;
  background-color: rgba(var(--color-red), 0.6);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9998;
  animation: fadeOut 0.5s ease forwards;
}

.brdr0_5 {
  border-radius: 0.5rem;
}
